*{
  margin:0px;
  text-align: center;
}

svg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 45%;
  z-index: 20;
}

#footer{
  margin-top:7em;
  font-size: 10px;
}

@media screen and (max-width:480px){
  svg{
    left: 40%;
    top:48%;
  }
}
